/* reseteo de valores por defecto del navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
div.container{
    background-color:white;
    color:black;
    max-width: 1300px;
    max-height:100%;
}

div.view-1, div.view-3, div.view-5{
    background-color:darkslategrey;
    color:white;
    max-width: 1300px;
    height:400px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 20px;
}

div.view-2, div.view-4{
    background-color:azure;
    color:black;
    max-width: 1300px;
    height:400px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 20px;
}

h2{
    text-shadow: 2px 2px 5px blue;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    
}

footer{
    background-color:whitesmoke;
    color:black;
    max-width: 1300px;
    height:100px;
    border: 1px solid black;
    border-color:gray;
    padding: 15px 20px;
    text-align: center;
    margin-bottom: 10%;
}

#nombre{
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    font-family: Verdana, Tahoma, sans-serif;

}

#descripcionDePerfil{
    border: 1px solid black;
    border-radius: 9px;
    font-size: 19px;
    text-justify: newspaper;
    box-shadow: 5px 5px 5px lightblue;

}
